/* CSS FILE */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 40px;
}

.a-todo {
  border-radius: 25px;
  border: 2px solid #73AD21;
}

.a-todo:hover span{
  visibility: hidden;
	position: relative;
}

.a-todo:hover span:before{
  visibility: visible;
	/* position: absolute; */
  content: 'Completed!';
  color: white;
  background-color: blue;
  position: relative;
}

.a-todo:hover span:after{
  visibility: visible;
  content: 'Remove';
  float: right;
  color: white;
  background-color: red;
  position: relative;
}

#columns-container {
  display: flex;
  justify-content: flex-start;
  width: 900px;
  flex-wrap: wrap;
  padding-top: 40px;
}

.header-footer {
  margin: 5px;
  padding: 20px;
  flex: 0 0 100%;
}

.column {
  width: 300px;
  height: 300px;
  overflow: auto;
}

#left-column {
  margin: auto;
  text-align: left;
}

#right-column {
  margin: auto;
}
